<section class="calendar">
  <h1>Fitness Calendar</h1>
  <table cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
      <tr>
        <td>Division 1</td><td>Division 2</td><td>Division 3</td>
      </tr>
      <tr class="even">
        <td>Division 1</td><td>Division 2</td><td>Division 3</td>
      </tr>
      <tr>
        <td>Division 1</td><td>Division 2</td><td>Division 3</td>
      </tr>
    </tbody>
  </table>
</section>

